* {
	font-family: rockySouly, "Finger Paint";
	font-weight: 20;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	color: black;
} 
@font-face{
	font-family: "rockySouly";
	src: url("rockySouly.ttf") format("opentype");
}
html{
	scroll-behavior: smooth;
	--amarillo:#FFBF4D;
	--naranja:#E27203;
	+--marronClaro:#B28F69 ;
	+--marronOscuro:#7C6241;
	--amarillo2:#BB9305;
	--azul: #2E4551;

}
h2{
	margin: 20px 10px;
	color: white;
}
h6 {
	color: white;
	font-size: 100px;
	display: flex;
	justify-content: center;
}
body {
	background:var(--azul);
	background-image: url(Imagenes/fondo.jpeg);

}
article{
	border-radius: 20px;
}

/* MENU */
header {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: var(--azul);
	z-index: 100;

}
.headerSuperior{
	max-width: 100%;
	margin: auto;
	padding: 0px;
}
.logo {
	display: flex;
	align-items: center;
}
.logo img{
	width: 80px;
}
.logo h1{
	color: var(--naranja);
}
.fondoMenu{
	width: 100%;
	height: 50px;
	padding: 0px 20px;
	background: var(--amarillo);

}
.menu{
	max-width: 100%;
	margin: auto;
	height: 100%;
}
nav {
	height: 100%;
}
nav > ul{
	height: 100%;
	display: flex;
}
nav ul li {
	height: 100%;
	list-style: none;
	position: relative;
}

nav > ul > li > a{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 20px;
	color: black;
	font-size: 20px;
	transition: all 300ms ease;
}
nav > ul > li > a:hover{
	transform: scale(1.1);
	background: var(--naranja);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1.0);
}
nav ul li ul {
	width: 200px;
	display: flex;
	flex-direction: column;
	background: linear-gradient(to right, var(--amarillo), var(--naranja));
	position: absolute;
	top: 100px;
	padding: 20px 0px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1.0);
	visibility: hidden;
	z-index: 10;
	transition: all 300ms ease;

}
nav ul li:hover  ul{
	visibility: visible;
	opacity: 1;
	top: 60px;
}
nav ul li ul:before {
	content: '';
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid  var(--amarillo);
	position: absolute;
	top: -15px;
	left: 20px;
	z-index: 10;
}
nav ul li ul li a {
	display: block;
	color: black;
	padding: 10px;
	padding-left: 10px;
	margin-top: 10px;
	font-size: 15px;
}
nav ul li ul li a:hover {
	background: black;
	color: var(--naranja);	
	transform: scale(1.1);
	padding-left: 25px;
	font-size: 15px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1.0);
}
#actual{
	transform: scale(1.15);
	background: linear-gradient(to bottom, var(--amarillo), var(--naranja));
	border-radius: 10px;
}



/* MAIN */

main {
	width: 80%;
	padding: 40px 20px;
	margin-top: 100px;
}
article {
	max-width: 100%;
	margin: 20px auto;
	padding: 40px;
	background: var(--amarillo);
	scroll-margin-top: 150px ;
}
article div {
	display: inline-block;
}
#divTituloLemaLogo{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size:250%;
	margin: 20px;
}
#divTituloLemaLogo img, #fuente img{
	width: 50%;
	margin: 20px;
}
#disclaimer{
	background: red;
}
#disclaimer p {
	font-family: monospace;
	font-size: 20px;
	color: white;

}
#descripcion, #fuente {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#fuente div{
	margin: 20px;
}
#descripcion div,#objetivos div{
	margin: 10px;
}
#descripcion, #objetivos{
	background-image: url(Imagenes/Fondo_Parallax2.png);
	background-size: 100%;
}
#descripcion p,#objetivos p, #descripcion h3, #objetivos h3{
	color: white;
}
#mineros img {
	width: 80px;
	height: 99px;
}
#iconos img {
	width: 80px;
}
#iconos{
	background: linear-gradient(to bottom, var(--amarillo2), var(black));
}





/*LA CAMPAÑA*/
#campaña article{
		border: 15px ridge white;
}
#campaña article article,#campaña #disclaimer, #campaña #autores{
		border: none;
}

#videoYCancion, #objetivos div{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#objetivos {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#objetivos article {
	margin: 0px;
	padding: 0px;
	background: none;
}
#videoYCancion, #fuenteOriginal {
}
#fuenteOriginal p{
	font-size: 20px;
}


/*EL EQUIPO*/
#autores, #autoria{
	background: none;
}

#autores article{
	display: flex;
	flex-direction: row;
	background: none;
	padding: 0px;
}
#autores p, #autores h4{
	color: white;
	padding: 10px;
}
#autores article div{
	width: 100%;
	background-color: var(--amarillo2);
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}
#autores article div div{
	background: none;
}
#autores img{
	width: 20px;
}
#paula {
	background-image: url(Imagenes/MineroPaula.png);
}
#jaime {
	background-image: url(Imagenes/MineroJaime.png);
}
#raul {
	background-image: url(Imagenes/MineroRaúl.png);
}
#alvaro {
	background-image: url(Imagenes/MineroAlvaro.png);
}
#david {
	background-image: url(Imagenes/MineroDavid.png);
}
#sandra {
	background-image: url(Imagenes/MineroSandra.png);
}
.nombre {
	display: flex;
	flex-direction: row;
}
#autoria article{
	background: none;
	display: flex;
	flex-direction: column;	
	justify-content: space-between;
}
#autoria div {
	margin: 50px 0px 0px 0px;
	display: flex;
	justify-content: space-between;
	align-items: centre;
	flex-direction: row;
}
#empresa img{
	width: 25%;
	height: auto;
}
#empresa h1{
	color: white;
	font-size: 500%;
	display: flex;
	justify-content: center;
}
#empresa{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/* CONTRIBUCIONES */
aside {
	width: 100%;
	position: fixed;
	top: 30px;
	left: 80%;
	padding:15px 20px;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	background: linear-gradient(to bottom, var(--amarillo), var(--naranja));
}
aside div{
	margin: 20px;	
}
aside h3{
	padding:0px 0px 10px 0px;
	color: white;
}




/*PAGINA CONTRIBUCIONES*/
#contribuciones article{
	background: none;
}
#contribuciones article article{
	display: flex;
	padding: 0px;
	justify-content: space-between;
}
#contribuciones article div{
	background: linear-gradient(to bottom, var(--amarillo), var(--naranja));
	padding: 20px;
	margin: 20px;
	border-radius: 20px;

}
#contribuciones h1{
	color: white;
	font-size: 50px;
}
#contribuciones {
	width: 100%;
	padding: 40px 20px;
	margin-top: 100px;
}
#contribuciones li{
	padding: 5px;
}
#contribuciones #disclaimer{
	position: fixed;
	top: 85%;
	left: 0px;
	padding: 10px;
}
.imgContribución {
	width: 100%;
}
.donar {
	display: flex;
	flex-direction: column;
	align-items: center;
}


/*PREGUNTAS FRECUENTES*/
.faq{
	background: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.pregunta {
	height: auto;
	margin: 10px;
	padding: 35px;
}
.preguntando h3{
	margin: 0px;
	cursor: pointer;
}
.respuesta {
	display: flex;
	width: 100%;
	height: 0px;
	opacity: 0;
}

.respuesta.verRespuestas {
	margin: 30px 0px 0px 0px;
	height: auto;
	opacity: 1;
}


/*COMENTARIOS*/
#comentarios{
	margin: 120px 0px 0px 0px;
}

.utterances-frame {
	position: initial;
	height: 1000px;
	z-index: -1;
	overflow:auto ;
}
#cajaComent {
	height: 300px;
	overflow: auto;
	background-color: none;
}
#cajaComent::-webkit-scrollbar{
	width: 10px;

}
#cajaComent::-webkit-scrollbar-thumb {
	background: var(--naranja);
	border-radius: 5px;
}

 /*BOTONES*/
.abrirMenu{
	display: none;
}
.botonDonar{
	color: white;
	font-family: "Trebuchet MS", sans-serif;
	display: flex;
	border: 5px double var(--naranja);
	padding: 10px 20px;
	justify-content: space-evenly;
}
.botonDonar:hover{
	transform: scale(1.1);
}
#contribuciones div{
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#contribuciones div div {
	background: var(--azul);
	width: 50%;
}






/* cuando la página está en un dispositivo de menos de 800px*/



@media screen and (max-width:800px){
	h6{
		font-size: 50px;
	}
	/*MAIN*/
	main {
		width: 100%;
	}
	aside{
		border-radius: 10px;
	}
	#descripcion, #fuente {
		display: flex;
		flex-direction: column;
	}
	#descripcion div {
		margin: 20px 10px;
	}
	#objetivos{
		background-image: none;
	}
	#objetivos p, #objetivos h3{
		color: black;
	}
	#contribuciones #disclaimer{
		position: initial;
	}
	#autores{
		padding: 20px 0px 0px 0px;
	}
	#autores article {
		padding: 0px;
		flex-direction: column;
	}
	#mineros img {
		width: 50px;
		height: 62px;
	}
	#iconos img {
		width: 50px;
	}
	/* CONTRIBUCIONES */
	aside {
		width: 100%;
		position: relative;
		top: 0px;
		left: 0px;
		padding: 40px 20px;
		z-index: -10;
		background: var(--amarillo);
	}
	#contribuciones h1{
		font-size: 30px;
	}
	#contribuciones article article{
		align-items: center;
		flex-direction: column;
		margin: 0px;

	}
	#contribuciones article article div{
		margin: 30px;
	}
	#contribuciones div {
		width: 100%;
	}

		#video{
		width: 80%;
		height: auto;
	}
}



@media screen and (max-width:500px){
	h6 {
		font-size: 38px;
	}
	/*MENU*/
	.logo img{
		width: 50px;
	}
	nav > ul {
		flex-direction: column;
		background-color: var(--amarillo);
		position: fixed;
		left: 0;s
		top: 50px;
		width: 100%;
		height: 250px;
		transition: all 300ms ease;
		z-index: 100;
		overflow-y:auto ;
		opacity: 1;
		pointer-events: all;

	}
	nav > ul::-webkit-scrollbar{
		width: 10px;
	}
	nav > ul::-webkit-scrollbar-thumb {
		background: var(--naranja);
		border-radius: 5px;
	}
	/*para que no crezcan los botones al pulsar y se salgan de la pantalla*/
	nav > ul > li > a:hover {
		transform: scale(1);
	}
	nav ul li ul {
		left: 90px;
	}
	nav > ul > li:hover ul {
		top: 60px;
	}
	#actual{
		transform: scale(1);
		background: var(--naranja);
	}
	/*MAIN*/
	#divTituloLemaLogo img, #fuente img{
		width: 80%;
		margin: 10px;
	}
	#descripcion{
		background-image: none;
	}
	#descripcion p, #descripcion h3{
		color: black;
	}
	#mineros img {
		width: 30px;
		height: 37px;
	}
	#iconos img {
		width: 30px;
	}
	#autoria div{
		align-items: center;
	}
	#empresa h1 {
		font-size: 38px;
	}
	/*BOTONES*/
	.abrirMenu{
		display: block;
		border: none;
		background: none;
		cursor: pointer;
	}
	.abrirMenu img{
		width: 30px;
		margin: 10px;
	}
	/*Funcion creada en JavaScript para abrir y cerrar el menu en movil*/
	.menuCerrado{
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}


}